{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'Ok99PrivateZoneAdminBundle::standard_layout.html.twig' %}

{% block sonata_header %}{% endblock %}

{% block body_attributes %}class="login-page"{% endblock %}

{% block sonata_wrapper %}
	<div class="login-box">
		<div class="login-logo">
			{{ pz_app_name }}
		</div><!-- /.login-logo -->
		<div class="login-box-body">
			{% if empty_email is defined %}
				<div class="alert alert-danger alert-error">{{ 'resetting.request.empty_email'|trans({}, 'FOSUserBundle')|raw }}</div>
			{% elseif invalid_username is defined %}
				<div class="alert alert-danger alert-error">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle')|raw }}</div>
			{% elseif invalid_email is defined %}
				<div class="alert alert-danger alert-error">{{ 'resetting.request.invalid_email'|trans({'%email%': invalid_email}, 'FOSUserBundle')|raw }}</div>
			{% else %}
				<p class="login-box-msg">{{ 'title_user_resetting'|trans({}, 'SonataUserBundle') }}</p>
			{% endif %}

			<form action="{{ path('admin_privatezonecore_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
				<div class="form-group has-feedback">
					<input type="text" name="username" required="required" class="form-control"{{ invalid_username is defined or invalid_email is defined ? (' value="' ~ (invalid_username is defined ? invalid_username : invalid_email) ~ '"')|raw : '' }} placeholder="{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}">
					<span class="glyphicon glyphicon-user form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-5">
					</div><!-- /.col -->
					<div class="col-xs-7">
						<button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</button>
					</div><!-- /.col -->
				</div>
			</form>

		</div><!-- /.login-box-body -->
	</div><!-- /.login-box -->
{% endblock sonata_wrapper %}
