{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block sonata_header %}{% endblock %}

{% block body_attributes %}class="login-page"{% endblock %}

{% block sonata_wrapper %}
    <div class="login-box">
        <div class="login-logo">
            Privátní zóna <em>.</em>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            {% if error %}
                <div class="alert alert-danger alert-error">{{ error|trans({}, 'FOSUserBundle')|raw }}</div>
            {% else %}
                <p class="login-box-msg"{% if pz_club_configuration_pool.isDemo() %} onclick="toggleForms()"{% endif %}>
                    {{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }}
                </p>
            {% endif %}

            <form action="{{ path("sonata_user_admin_security_check") }}" class="login-form" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                <div class="form-group has-feedback manual"{{ pz_club_configuration_pool.isDemo() ? ' style="display:none"' : '' }}>
                    <input type="text" name="_username" value="" required="required" class="form-control" placeholder="{{ 'security.login.username'|trans({}, 'SonataUserBundle') }}">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback manual"{{ pz_club_configuration_pool.isDemo() ? ' style="display:none"' : '' }}>
                    <input type="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans({}, 'SonataUserBundle') }}">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row manual"{{ pz_club_configuration_pool.isDemo() ? ' style="display:none"' : '' }}>
                    <div class="col-xs-7">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox" name="_remember_me"> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                            </label>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-xs-5">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
                    </div><!-- /.col -->
                </div>

                {% if pz_club_configuration_pool.isDemo() %}
                    <script type="text/javascript">
                        function setAdmin(){$('input[name="_username"]').val('administrator');$('input[name="_password"]').val('nimda');}
                        function setUser(){$('input[name="_username"]').val('uzivatel');$('input[name="_password"]').val('letavizu');}
                        function toggleForms(){if($('.form-group.button:visible').length){$('.form-group.button').hide();$('.form-group.manual,.row.manual').show();}else{$('.form-group.manual,.row.manual').hide();$('.form-group.button').show();}}
                    </script>
                    <div class="form-group has-feedback button">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" onclick="setAdmin();">Administrátor</button>
                    </div>
                    <div class="form-group has-feedback button">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" onclick="setUser();">Běžný člen</button>
                    </div>
                {% endif %}
            </form>

            {% if not pz_club_configuration_pool.isDemo() %}
                <a href="{{ path('admin_privatezonecore_user_resetting_request') }}">{{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}</a><br>
            {% endif %}
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    <script type="text/javascript">
        $(document).ready(function(){$('.icheckbox_flat-blue').removeClass('icheckbox_flat-blue').addClass('icheckbox_flat-green');});
    </script>
{% endblock sonata_wrapper %}
