{% block user_block %}
    {% if app.user %}
        {% if is_granted('ROLE_PREVIOUS_ADMIN') and sonata_user.impersonating %}
            <li><a href="{{ path(sonata_user.impersonating.route, sonata_user.impersonating.parameters| merge({'_switch_user': '_exit'})) }}">
                {{ 'user_block_switch_back'|trans({}, 'SonataUserBundle') }}
            </a></li>
        {% endif %}

        <li><a href="{{ path('admin_privatezonecore_user_user_edit', {'id': app.user.id}) }}">
            {{ 'title_user_account'|trans({}, 'SonataUserBundle') }}
        </a></li>

        <li class="important"><a href="{{ path('sonata_user_admin_security_logout') }}">{{ 'user_block_logout'|trans({}, 'SonataUserBundle') }}</a></li>
    {% endif %}
{% endblock %}
